.flash-alerts
  = render 'layouts/flash_alerts'

%table.table.table-responsive.table-hover
  %tr
    %th Picture
    %th Product
    %th Quantity
    %th Price
    %th.hide-on-mobile Subtotal
    %th
    %th
  - current_user.get_cart_orders.each do |order_detail|
    %tr
      %td.admin-image
        = image_tag order_detail.get_product_info.picture_link
      %td
        = link_to "#{order_detail.get_product_info.title}", product_path(order_detail.get_product_info)
      %td= order_detail.quantity
      %td= "$#{Money.us_dollar(order_detail.get_product_info.price*100)}"
      %td.hide-on-mobile= "$#{Money.us_dollar(order_detail.subtotal*100)}"
      %td
        = link_to product_path(order_detail.product) do
          %span.glyphicon.glyphicon-pencil
      %td
        = link_to order_detail_path(order_detail), remote: true, method: :delete, data: {confirm: "Are you sure?"}, class: "delete-order-detail" do
          %span.glyphicon.glyphicon-trash

- if current_user.get_cart
  .text-center
    .larger-font-bold
      = "Total: "
    = "$#{Money.us_dollar(current_user.get_cart.total_price*100)}"

  .text-center
    = form_for (current_user.get_cart) do |f|
      = f.hidden_field :purchased, value: true
      %button.btn.btn-default{type: "submit"}
        Checkout
        %span.glyphicon.glyphicon-usd

- else
  %h3.text-center
    Your cart is empty!
