%h2 Your Order History You Beautiful Shopper

%table.table.table-responsive.table-hover
  %tr
    %th Order ID
    %th Order Date
    %th Total
    %th View Order
  - @orders.each do |order|
    %tr
      %td= order.id
      %td= order.updated_at.strftime('%c')
      %td= "$#{Money.us_dollar(order.total_price*100)}"
      %td= link_to "more details", order_path(order)

.digg_pagination.text-center
  = will_paginate @orders
