%h1.text-center= "Details for Order Number #{@order.id}"

%table.table.table-responsive.table-hover
  %tr
    %th Picture
    %th Product
    %th Quantity
    %th Price
    %th Subtotal
  -@cart.each do |order_detail|
    %tr
      %td.admin-image
        = image_tag order_detail.get_product_info.picture_link
      %td
        = link_to "#{order_detail.get_product_info.title}", product_path(order_detail.get_product_info)
      %td= order_detail.quantity
      %td= "$#{Money.us_dollar(order_detail.get_product_info.price*100)}"
      %td= "$#{Money.us_dollar(order_detail.subtotal*100)}"

%table.table
  %tr
    %td.table-width-30
      - if @previous_order
        = link_to "Previous Order", order_path(@previous_order), class: "btn btn-default"
    %td.text-center.table-width-30
      .larger-font-bold
        = "Total: "
      %p= "$#{Money.us_dollar(@order.total_price*100)}"
    %td.table-width-30
      - if @next_order
        = link_to "Next Order", order_path(@next_order), class: "pull-right btn btn-default"


