%h1.text-center THANK YOU!

.text-center
  %p= "Your Order has been placed"
  %p.strong= "Order Confirmation Id: #{@order.id}"
  %p= "We'll be in touch with details as soon as your order has shipped"

  %p= link_to "See Order Details", order_path(@order)
