.modal-header
  %button.close{"type" => "button", "data-dismiss" => "modal"}
    %span.glyphicon.glyphicon-remove
  %h2.modal-title= @product.title
.modal-body
  #product-img-modal.vertical-center
    = image_tag @product.picture_link
  %h4#product-price-modal
    = "$#{Money.us_dollar(@product.price*100)}"

  %p#product-desc-modal= @product.description
