=render 'categories/sidebar'
.main-container
  .row.carousel-holder
    .col-md-12
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel" }
        .carousel-inner
          .item.active
            %img.slide-image{ src: "http://srv-live.lazada.com.ph/cms/pop/payday/pay/flashsale/LP_Nike--Shoes.jpg"}
          .item
            %img.slide-image{ src: "http://cdn.shopify.com/s/files/1/0042/0222/t/5/assets/home-slider-slide-2.jpg?16741135064408008013"}
          .item
            %img.slide-image{ src: "http://www.allthingstarget.com/wp-content/uploads/2015/09/PicMonkey-Collage4.jpg"}
        %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
          %span.glyphicon.glyphicon-chevron-right
  .feature-heading.text-center Featured Products
  .hr
  .row
    - @products.each do |product|
      .col-md-6.col-sm-6.col-xs-12.product-display-image
        .col-md-12.col-sm-12.col-xs-12.vertical-center
          = image_tag product.picture_link
        .col-md-12.col-sm-12.col-xs-12.vertical-center
          = link_to product.title, product_path(product)
        .col-md-12.col-sm-12.col-xs-12.vertical-center
          = product.description
        .col-md-12.col-sm-12.col-xs-12.vertical-center
          = "$#{Money.us_dollar(product.price*100)}"

