=render 'categories/sidebar'
.main-container
  .row.carousel-holder
    .col-md-12
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel" }
        .carousel-inner
          .item.active
            %img.slide-image{ src: "http://i.nordstromimage.com/images/default/shop/image/shops/mens-shoes-boots/2012/1105/mens-shoes-made-in-america_header.jpg"}
          .item
            %img.slide-image{ src: "http://i.nordstromimage.com/images/default/shop/image/shops/mens-shoes/2016/0125/mens-dress-loafers_header.jpg"}
          .item
            %img.slide-image{ src: "http://blog.schuh.co.uk/wp-content/uploads/2015/08/celebrities-wearing-lace-up-heels-schuh-blog-header.jpg"}
        %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
          %span.glyphicon.glyphicon-chevron-right

  .row
    - @products.each do |product|
      .col-md-6.col-sm-6.col-xs-12.product-display-image.feature-products
        .featured-img-container
          .col-md-12.col-sm-12.col-xs-12.feature-product-image
            = image_tag product.picture_link
        .col-md-9.col-sm-9.col-xs-9.feature-left-container
          .col-md-12.col-sm-12.col-xs-12.feature-product-title
            = link_to product.title, product_path(product)
          .col-md-12.col-sm-12.col-xs-12.feature-product-desc
            = product.description
        .col-md-3.col-sm-3.col-xs-3.feature-right-container
          .col-md-12.col-sm-12.col-xs-12.feature-product-price
            = "$#{Money.us_dollar(product.price*100)}"

