.text-center
  %p
    = image_tag @product.picture_link
  %h4
    = @product.title
    ="| $#{Money.us_dollar(@product.price*100)}"

  %p
    = "Categories: "
    .list-categories
      %ul
        - @product.categories.each do |category|
          %li.product-categories= category.name
  %p= @product.description

  = link_to "Back to Home", root_path, class: "btn btn-default"


