.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => ".bs-navbar-collapse" }
      %span.sr-only="Toggle navigation"
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'The Store', '/', { class: "navbar-brand" }
  .collapse.navbar-collapse.bs-navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to 'All Categories', categories_path
      %li= link_to 'All Products', products_path
      - if current_user && current_user.admin?
        %li= link_to "Inventory Admin", admin_path
      - if current_user
        %li= link_to "Order History", user_orders_path(current_user)
        %li
          = link_to '/cart' do
            %span.glyphicon.glyphicon-shopping-cart
        %li= link_to "Logout", '/users/sign_out', method: :delete
      - else
        %li= link_to "Register", '/users/sign_up'
        %li= link_to "Login", '/users/sign_in'
